/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "_utils";

// ----
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 70px;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  height: 100%;
  line-height: 1.6;
  overflow-x: hidden;
}

.navbar,
.showcase,
h1,
h2,
h3,
h4,
h5 #inspiration {
  font-family: "Handlee", cursive !important;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.container-main {
  width: 95%;
  margin: 0 auto 20px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.2);
}

.container {
  @extend %centered-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 90%;
  border-bottom: 1px solid $darker-blue;
  padding: 30px;
  margin-top: 60px auto;
}

.section-odd {
  @extend %section;
}
.section-even {
  @extend %section;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.headline-line {
  width: 100px;
  height: 1px;
  background-color: $darker-blue;
}

.slide-in-image {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
  opacity: 0;
  border: solid 2px $darker-blue;
  padding: 3px;

  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.align-left {
  -webkit-transform: translateX(-30%) scale(0.95);
  -ms-transform: translateX(-30%) scale(0.95);
  transform: translateX(-30%) scale(0.95);
}

.align-right {
  -webkit-transform: translateX(30%) scale(0.95);
  -ms-transform: translateX(30%) scale(0.95);
  transform: translateX(30%) scale(0.95);
}
// navbar ---------------------------------------

.navbar {
  padding: 0 30px;
  background: white;
  font-size: 1.5rem;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;

  .home-link {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4rem;
    text-decoration: none;
  }

  .navbar-brand {
    margin: 0;
  }

  .nav-link {
    color: black;
    margin: 0 15px;
    font-size: 1.1rem;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    &:hover {
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }
  .navbar-nav {
    @extend %centered-flex;
    margin: 0 auto;
  }
  .nav-right {
    @extend %centered-flex;
    float: right;
    list-style: none;
    margin-right: 30px;
    a {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .navbar-toggler {
    // outline: none;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    background-color: $dark-blue;

    &:hover {
      background-color: $darker-blue;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.nav-smallscreen {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 66px;
  background-color: white;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  z-index: 2;
  padding-top: 15px;
  border-bottom: 1px solid rgba(100, 99, 99, 0.493);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;

  ul {
    list-style: none;
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: auto 10px auto 10px auto;
    grid-template-columns: repeat(3, auto);
    a {
      color: black !important;
      text-decoration: none;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }

    li {
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      &:hover {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }
  }
}

// section 1 --------------

.showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100vh;

  &::before {
    content: "";
    background: url("../images/showcase-Background.webp") center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
  }
  .showcase-content {
    border: none;
    z-index: 1;
    padding-left: 80px;
    width: 50%;
    .showcase-header {
      text-align: left;
      font-size: 4rem;
      margin: 0;
    }
    .showcase-description {
      font-size: 1.2rem;
    }
  }
  .showcase-img {
    width: 30%;

    img {
      border: solid 2px $darker-blue;
      padding: 3px;
      height: 100%;
      width: 100%;
    }
  }

  .arrow {
    position: absolute !important;
    bottom: 0 !important;
    left: calc(50% - 17.5px);
    font-size: 3.5rem;
    color: white;
    padding-bottom: 20px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;

    &:hover {
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
    }
  }
}
// to home button -------------
.to-home {
  position: absolute;
  top: 100px;
  left: 4%;
  color: $darker-blue;
}

// yoga ----------
.yoga-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 20px;
  button {
    &:nth-child(1) {
      background: url("../images/Square_3.webp") center;
    }
    &:nth-child(2) {
      background: url("../images/Square_2.webp") center;
    }
    &:nth-child(3) {
      background: url("../images/Square_1.webp") center;
    }
  }
}

// cards ------
.card-deck {
  display: flex;
  gap: 16px;
}

.card {
  overflow: hidden;
  border: solid 2px $darker-blue;
  padding: 3px;
  border-radius: 0;

  .card-img-top {
    border-radius: 0;
    position: relative;
    width: 100%;
    height: 30vh;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }

  .card-image {
    position: relative;
    overflow: hidden;

    &:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .card-title {
    position: absolute;
    bottom: 0;
    background: rgba(248, 249, 250, 0.4);
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .card-text {
    flex: 1;
    align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .card-body {
    display: flex;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px;

    button {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      background: url("../images/read-more.webp") center;
      background-size: cover;
      color: white;
    }
  }
}

// inspiration ---------------------
#inspiration {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .start-quote {
    margin-left: 20px;
  }
  .quote {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
  }
  .credit {
    display: inline-block;
    margin-top: 20px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    &::before {
      content: "⸛ ";
      vertical-align: middle;
      font-size: 1.4rem;
    }
  }
}
// modals ----------------
.modal {
  .modal-header,
  .modal-footer {
    border-color: $darker-blue;
  }
  .modal-title {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .price {
    margin: 0;
  }
}
.modal-backdrop {
  opacity: 0.4 !important;
}

// footer ----------------------------------
footer {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border-top: 1px solid rgba(23, 58, 83, 0.1);

  &::before {
    content: "";
    background: url("../images/showcase-Background.webp") center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
  }

  .footer-items {
    color: $dark-blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 20px 50px 20px;
  }
  .legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 0 20px;
    font-weight: 700;
    a,
    p {
      color: $darker-blue !important;
    }
  }
}

// contact page -----------------------
#form {
  position: relative;
  padding-top: 66px;
  overflow: hidden;
  border-bottom: none;
  &:before {
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/logo.webp");
    right: 70px;
    top: 50px;
    height: 400px;
    width: 400px;
    z-index: -1;
    opacity: 0.5;
  }
  .container {
    max-width: 1100px;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .form-head {
      position: relative;
      width: 100%;
      padding: 10px;
    }
    .contact-details {
      margin: 30px 0;
    }
    .form-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 10px;
      width: 100%;
    }
    .form-content {
      position: relative;
      border-radius: 10px;
      width: 100%;
    }

    .map {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      iframe {
        height: 80%;
      }
    }
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      float: left;
    }
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 80%;
  }

  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $dark-blue;
    outline: 0;
    font-size: 1.1rem;
    color: $dark-blue;
    padding: 7px 0;
    background: transparent;
    -webkit-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;

    &::-webkit-input-placeholder {
      color: rgba(128, 128, 128, 0.3);
      font-size: 1.1rem;
    }

    &::-moz-placeholder {
      color: rgba(128, 128, 128, 0.3);
      font-size: 1.1rem;
    }

    &:-ms-input-placeholder {
      color: rgba(128, 128, 128, 0.3);
      font-size: 1.1rem;
    }

    &::-ms-input-placeholder {
      color: rgba(128, 128, 128, 0.3);
      font-size: 1.1rem;
    }

    &::placeholder {
      color: rgba(128, 128, 128, 0.3);
      font-size: 1.1rem;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-size: 1rem;
    color: $dark-blue;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
// about page ---------------------------------

#about {
  position: relative;
  padding-top: 66px;
  overflow: hidden;
  border-bottom: none;
  &:before {
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/logo.webp");
    right: 25px;
    top: 50px;
    height: 550px;
    width: 550px;
    z-index: -1;
    opacity: 0.5;
  }
  .container {
    border: none;
  }
  .about-content {
    display: flex;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;

    h1 {
      margin: 1rem 0;
      font-size: 4rem;
    }
    h2 {
      margin: 1rem 0;
    }
    .about-main {
      width: 90%;
      text-align: start;
    }
  }
}

// timeline

.timeline {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    bottom: 0;
    width: 2px;
    background: $darker-blue;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  position: relative;

  .title {
    margin-bottom: 0.5em;
    float: left;
    left: 20px;
    width: 100%;
    text-align: left;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border: 4px solid $darker-blue;
      background-color: $darker-blue;
      border-radius: 100%;
      top: 15%;
      left: -22px;
    }
    h3 {
      margin: 0;
      font-size: 18px;
      text-align: left;
      font-weight: 500;
      color: $darker-blue;
      padding-right: 20px;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 2.5rem;
    padding-left: 20px;
    &::last-child {
      margin-bottom: 5px;
    }
    p {
      text-align: left;
      &:first-child {
        margin: 0;
        font-weight: 400;
      }
    }
    ul {
      color: #aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: 0.5em;
      }
    }
  }
}

// Datenschutz

#datenschutz,
#impressum {
  position: relative;
  padding-top: 66px;
  overflow: hidden;
  border-bottom: none;

  .container {
    justify-content: start;
    align-items: start;
    text-align: start;
    border: 0;
    max-width: 70%;
    h1 {
      align-self: center;
      margin: 20px auto;
    }
  }
}

@media (min-width: 1200px) {
  #about {
    &:before {
      width: 720px;
      height: 720px;
      right: 0;
    }
  }
}

// Large devices (desktops, 1024px and up)
@media screen and(max-width:1024px) {
  .container-main {
    padding: 0;
  }

  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .description {
      width: 80%;
    }
    .section-img {
      margin-bottom: 20px;
      width: 60%;
    }

    p {
      font-size: 1rem;
    }
  }

  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  #about {
    &::before {
      right: 0;
      width: 500px;
      height: 500px;
    }
  }

  .about-main {
    width: 90% !important;
    font-size: 0.9rem !important;
  }
}

@media screen and(max-width:768px) {
  h1 {
    font-size: 2.5rem !important;
  }
  .showcase-content {
    .showcase-header {
      font-size: 4rem !important;
    }
    .showcase-description {
      font-size: 1rem !important;
    }
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .description {
      width: 80%;
    }
    .section-img {
      margin-bottom: 20px;
      width: 60%;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .wrap {
    padding-top: 0 !important;
  }

  .form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    .map {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 20px;
      height: 300px;
    }
  }

  footer {
    .footer-items {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 20px 10px;
    }
    .copy {
      text-align: right;
    }
  }

  #about {
    &::before {
      right: 0;
      width: 450px;
      height: 450px;
    }
    h1 {
      font-size: 3rem !important;
    }
    .about-main {
      font-size: 0.8rem;
      width: 90% !important;
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
  .section {
    margin: 30px 0;
    .section-img {
      margin-bottom: 20px;
      width: 70%;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
  .showcase {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .showcase-img {
      width: 80%;
      margin: 20px auto;
    }
    .showcase-content {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 0;
      align-items: center;
      .showcase-header,
      .showcase-description {
        text-align: center;
      }
    }
  }

  .card-deck {
    display: flex;
    flex-direction: column;
    .card {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #about {
    &::before {
      right: 0;
      width: 400px;
      height: 400px;
    }
    .about-main {
      font-size: 0.8rem;
      width: 100% !important;
    }
    .to-home {
      top: 70px;
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 30px 0;
  }
  .navbar {
    padding: 0 10px;
  }
  .showcase-content {
    .showcase-header {
      font-size: 3.5rem !important;
    }
  }
  .form-content {
    padding-left: 0 !important;
  }
  .contact-form {
    width: 100%;
  }

  footer {
    .footer-items {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      padding: 20px 10px;
    }
  }

  #about {
    &::before {
      right: 0;
      top: 78px;
      width: 300px;
      height: 300px;
    }
  }
  #form {
    &::before {
      right: -120px;
    }
  }
}

//
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem;

  .toggle-button {
    position: absolute;
    right: 0px;
  }
  .site-logo {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    a {
      color: $dark-blue;
      text-transform: lowercase;
    }

    // @include media-breakpoint-down(md) {
    //   float: left;
    //   position: relative;
    // }
  }

  .site-navigation {
    &.border-bottom {
      border-bottom: 1px solid lighten($darker-blue, 80%) !important;
    }
    .site-menu {
      margin: 0;
      padding: 0;
      margin-bottom: 0;
      .active {
        color: $dark-blue !important;
      }
      a {
        text-decoration: none !important;
        display: inline-block;
      }
      > li {
        display: inline-block;
        > a {
          margin-left: 15px;
          margin-right: 15px;
          padding: 20px 0px;
          color: black !important;
          display: inline-block;
          text-decoration: none !important;
          // border-bottom: 2px solid transparent;

          &:hover {
            color: $dark-blue;
          }
        }
        &.active {
          > a {
            color: $dark-blue !important;
          }
        }
      }
      .has-children {
        position: relative;
        > a {
          position: relative;
          padding-right: 20px;
          &:before {
            position: absolute;
            content: "\e313";
            font-size: 16px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            font-family: "icomoon";
          }
        }
        .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          position: absolute;
          text-align: left;
          border-top: 2px solid $dark-blue;
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          padding: 0px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: white;
          transition: 0.2s 0s;

          &.arrow-top {
            position: absolute;

            &:before {
              display: none;
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
            &:before {
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: white;
              border-width: 10px;
              margin-left: -10px;
            }
          }

          a {
            // font-size: 16px;
            text-transform: none;
            letter-spacing: normal;
            transition: 0s all;
            color: black !important;
            &.active {
              color: $dark-blue !important;
              background: blue;
            }
          }
          // .active {
          // 	> a {
          // 		color: $dark-blue!important;
          // 	}
          // }
          > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 200px;
            > a {
              padding: 9px 20px;
              display: block;
              &:hover {
                background: gray;
                color: green;
              }
            }

            &.has-children {
              > a {
                &:before {
                  content: "\e315";
                  right: 20px;
                }
              }
              > .dropdown,
              > ul {
                left: 100%;
                top: 0;
              }
              &:hover,
              &:active,
              &:focus {
                > a {
                  background: gray;
                  color: green;
                }
              }
            }
          }
        }

        &:hover,
        &:focus,
        &:active {
          > a {
            color: $dark-blue;
          }
        }
        &:hover,
        &:focus,
        &:active {
          cursor: pointer;
          > .dropdown {
            transition-delay: 0s;
            margin-top: 0px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
