@import "_utils";

// ----
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  line-height: 2rem;
  overflow-x: hidden;
}

h1 {
  font-family: "Amatic SC", cursive;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.container-main {
  width: 95%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.2);
}

.container {
  @extend %centered-flex;
  position: relative;
  flex-direction: column;
  max-width: 1400px;
  border-bottom: 1px solid rgba($color: #3b3a3a94, $alpha: 0.3);
  padding: 30px;
  margin-top: 60px auto;
}

.section-odd {
  @extend %section;
}
.section-even {
  @extend %section;
  flex-direction: row-reverse;
}

.slide-in-image {
  transform: translateX(-20%);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.align-left {
  transform: translateX(-30%) scale(0.95);
}

.align-right {
  transform: translateX(30%) scale(0.95);
}
// navbar ---------------------------------------

.navbar {
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Merienda", cursive;
  font-size: 1.5rem;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  transition: background 0.3s;

  .navbar-brand {
    margin: 0;
  }
  .home-link {
    color: rgba(0, 0, 0, 0.8);

    font-size: 1.2rem;

    text-decoration: none;
  }
  .nav-link {
    margin: 0 15px;
    font-size: 0.9rem;
    font-weight: 400;

    transition: transform 0.5s;
    &:hover {
      transform: translateY(-2px);
    }
  }
  .navbar-nav {
    @extend %centered-flex;
    width: 80%;
  }
  .nav-right {
    @extend %centered-flex;
    float: right;
    list-style: none;
    margin-right: 30px;
    a {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .navbar-toggler {
    outline: none;
    transition: background 0.3s;

    &:hover {
      background-color: rgb(240, 239, 239);
    }
  }
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.nav-smallscreen {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 66px;
  background-color: white;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  z-index: 2;
  padding-top: 15px;
  border-bottom: 1px solid rgba(100, 99, 99, 0.493);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  ul {
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    a {
      color: black !important;
      text-decoration: none;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }

    li {
      transition: transform 0.5s;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

// section 1 --------------

.showcase {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100vh;

  &::before {
    content: "";
    background: url("../images/showcase-Background.jpg") center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }
  .showcase-content {
    border: none;
    z-index: 1;
    color: black;
    padding-left: 80px;
    width: 50%;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem;
      font-weight: 200;
    }
    button {
      background: url("../images/read-more.jpg") center;
      background-size: cover;
      color: white;
      border: none;
      border-radius: 3px;
      padding: 3px 20px;
      margin-top: 10px;
      font-size: 0.9rem;
      outline: none;
      transition: background 0.2s;
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        background-color: #fddcaa;
      }
    }
  }
  .showcase-img {
    width: 30%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .arrow {
    position: absolute !important;
    bottom: 0 !important;
    left: 50%;
    font-size: 3.5rem;
    color: white;
    padding-bottom: 20px;
    transition: transform 0.5s;

    &:hover {
      transform: translateY(10px);
    }
  }
}
// to home button -------------
.to-home {
  position: absolute;
  top: 40px;
  left: 4%;
  color: black;
}

// yoga ----------
.yoga-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 20px;
  button {
    padding: 20px 50px;
    border: none;
    border-radius: 3px;
    background-size: cover;
    line-height: 1.5;
    cursor: pointer;
    color: white;
    font-size: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.6s;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(-3px);
    }

    &:nth-child(1) {
      background: url("../images/Square_3.jpg") center;
    }
    &:nth-child(2) {
      background: url("../images/Square_2.jpg") center;
    }
    &:nth-child(3) {
      background: url("../images/Square_1.jpg") center;
    }
  }
}
// cards ------
.card {
  height: 550px;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border: none;
  .card-img-top {
    border-radius: 0;
    position: relative;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.5s ease-out;
  }

  .card-image {
    position: relative;
    overflow: hidden;
    line-height: 0;

    &:hover img {
      transform: scale(1.1);
    }
  }
  .card-title {
    position: absolute;
    bottom: 0;
    height: 40px;
    background: rgba(248, 249, 250, 0.4);
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }
  .card-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .card-body {
    position: relative;
    display: flex;

    flex-direction: column;
    padding-top: 0;
    padding-bottom: 10px;
    min-height: 160px;
    button {
      position: absolute;
      bottom: 0;
      align-self: center;
      margin-bottom: 30px;
      background: url("../images/read-more.jpg") center;
      background-size: cover;
      color: white;
      font-size: 0.8rem;
      transition: transform 0.1s ease-in;
      &:hover {
        transform: translateY(-1px);
      }
    }
  }
}

// inspiration ---------------------
#inspiration {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// modals ----------------
.modal {
  background-color: rgba(100, 99, 99, 0.7);
}

// footer ----------------------------------
footer {
  display: flex;
  position: relative;
  flex-direction: column;
  position: relative;
  color: white;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/footer-background.jpg") center;
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
  }

  .footer-items {
    // width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 50px 20px;
  }
  .legal {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    padding: 0 20px;
  }
}

// form------------
#form {
  width: 100vw;

  &:before {
    position: absolute;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/logo.jpg");
    right: 70px;
    top: 50px;
    height: 400px;
    width: 400px;
    z-index: -1;
  }

  .container {
    margin-top: 70px;
    padding-top: 30px;

    max-width: 1100px;
    border-bottom: none;
    display: flex;
    flex-direction: column;

    .form-head {
      position: relative;
      width: 100%;
      padding: 10px;
    }
    .contact-details {
      margin: 30px 0;
    }
    .form-box {
      display: flex;
      padding: 20px 10px;
      width: 100%;
    }
    .form-content {
      position: relative;
      padding: 0 0 0 80px;
      border-radius: 10px;
      width: 100%;
    }

    .map {
      display: flex;
      align-items: center;
      iframe {
        height: 80%;
      }
    }
  }

  form {
    margin-top: 20px;
    label {
      float: left;
      padding-left: 5px;
    }
  }

  $primary: #11998e;
  $secondary: #38ef7d;
  $white: #fff;
  $gray: #9b9b9b;
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 80%;
  }

  .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.719);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: rgba(128, 128, 128, 0.5);
      font-size: 1.1rem;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
}
// contact page -----------------------

#form {
  position: relative;
}
// about page ---------------------------------

#about {
  position: relative;
  padding-top: 66px;

  .about-content {
    @extend %centered-flex;
    flex-direction: column;
    position: relative;
    // background: url("../images/logo.jpg");
    img {
      width: 20%;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      width: 70%;
      align-self: center;
    }

    &:before {
      position: absolute;
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../images/logo.jpg");
      right: 0;
      top: 50px;
      height: 400px;
      width: 400px;
      z-index: -1;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1090px) {
  .cards-container {
    display: flex;
  }

  .show {
    display: none;
  }
}

@media screen and(max-width:1090px) {
  .card-deck .card {
    height: 450px;
  }
}
@media screen and(max-width:992px) {
  .container-main {
    padding: 0;
  }
  .card-deck .card {
    height: 480px;
  }
}

@media screen and(max-width:768px) {
  h1 {
    font-size: 2.5rem !important;
  }
  .showcase-content {
    h1 {
      font-size: 4rem !important;
    }
    p {
      font-size: 1rem !important;
    }
  }
  .section {
    flex-direction: column;
    align-items: center;
    .description {
      width: 80%;
    }
    .section-img {
      margin-bottom: 20px;
      width: 60%;
    }

    p {
      line-height: 1.3rem;
      font-size: 0.8rem;
    }
  }
  .showcase-content {
    padding-left: 40px !important;
  }
  .wrap {
    padding-top: 0 !important;
  }

  .card-deck .card {
    height: 540px;
  }

  .form-box {
    flex-direction: column-reverse;

    .map {
      justify-content: center;
      margin-top: 20px;
      height: 300px;
    }
  }

  #about {
    img {
      width: 30% !important;
    }
    h1 {
      font-size: 3rem !important;
    }
    p {
      font-size: 0.8rem;
      width: 90% !important;
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
  .section {
    margin: 30px 0;
    .section-img {
      margin-bottom: 20px;
      width: 70%;
    }
    h1 {
      font-size: 2.5rem;
    }
  }

  .card {
    height: 350px;
    margin-bottom: 30px !important;
    width: 90%;
    margin: auto;
  }
  // .card-deck .card {
  //   height: 480px;
  // }
  #about {
    img {
      width: 40% !important;
    }

    p {
      font-size: 0.7rem;
      width: 90% !important;
    }
  }
}
@media screen and (max-width: 480px) {
  .yoga-button {
    padding: 10px 20px !important;
  }
  .navbar {
    padding: 0 10px;
  }
  .form-content {
    padding-left: 0 !important;
  }
  .contact-form {
    width: 100%;
  }

  footer {
    .footer-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 10px;
    }
    .copy {
      text-align: right;
    }
  }
}

//
.start-quote {
  margin-left: 20px;
}
.quote {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
}
.credit {
  display: inline-block;
  font-family: "Waiting for the Sunrise", cursive;
  margin: 20px;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  &::before {
    content: "⸛ ";
    vertical-align: middle;
    font-size: 1.4rem;
  }
}
